* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background: hotpink;
    padding: 1em;
}

.game_container {
    max-width: 100rem;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    position: relative;

}

.LINE {   
  display: none;
    

}

.left {
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 15vh);
}

.left .box {
    text-align: center;
    border: 2px solid black;
    font-size: 5vw;
}

.left .box:hover {
    background-color: rgb(144, 255, 255);
    cursor: pointer;
}

.left .b-t {
    border-top: 0;
}

.left .b-b {
    border-bottom: 0;
}

.left .b-l {
    border-left: 0;
}

.left .b-r {
    border-right: 0;
}


.right_game_info {
    margin: 1em;

}

.right_game_info h2 {
    text-align: center;
    margin-top: .5em;
    font-size: 2rem;
}

#right_auto {
    margin: 1em auto;
    width: 50%;
}

button {
    padding: .5em;
    border-radius: 5px;
    margin-left: .5em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

.imgbox img {
    width: 0px;
    transition: .4s ease-in;
}

@media (max-width:768px) {
    .game_container {
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }

    .left {
        grid-template-columns: repeat(3, 16vw);

    }

    .right_game_info h2 {
        font-size: 1rem;
    }

    button {
        margin-top: .5em;
    }

    .LINE {
        position: absolute;
        height: 1px;
        width: 0%;
       
         display: block;
         top: 20%;
        transform: translateX(6vw) rotate(-45deg); 
    }



}